p {
    font-size: larger;
}
img{
    width: 200px;
    height: 200px;
    outline:white solid 1px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h3,h4{
    margin-right: 175px;
    margin-left: 175px;
}
table{
    width: 300px;
    padding: 30px;
    margin: 20px;
    border: 5px solid white;
    background-color: transparent
}
tr{
    font-size: 1.5rem;
}
body{
    text-align:center;
}
.bankiimg{
    width: 350px;
    height: 250px;
    outline:white solid 1.5px;
    top: -200px;
    position:relative;
    margin: 0 10px 0 0;
    
}
.cucc {
    margin: auto auto 250px auto;
    width: 50%;
}