
img{
    width: 200px;
    height: 200px;
    outline:white solid 1px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h3,h4{
    margin-right: 175px;
    margin-left: 175px;
}
